nav{
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;
    display: flex;
}

li{
    margin-right: 30px;
    font-size:25    px;
}

img{
    margin-right:500px;
    height: 70px;
}
.grid{
    display: flex;
    justify-content: center;    
}
.container{
    position: relative;
    top: 250px;
    /* border:2px solid black; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
}
.items{
    height: 250px;
    width: 400px;
    /* border: 1px red solid; */
    background-color: rgb(248, 248, 248);
}
.lang{
    position: relative;
    top: 40px;
    left: 135px;
    font-size: 35px;;
}
.buttons{
    position: relative;
    top: 150px;
    left: -70px;  
}
.threebit{
    height: 35px;
    width: 130px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(68, 151, 235);
    color: white;
}
.sixbit{
    height: 35px;
    width: 130px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(32, 225, 32);
    color: white;
    margin-left: 20px;;
}