.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 2px solid black;
}