*{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;  
    background-color: rgb(32, 31, 31);
    color: white;
}

img{
    border-radius: 7%;
    margin: 10px;
}

h2{
    position: relative;
    top: 15px;
    left: 10px;
}

.details{
    display: flex;
    position: relative;
    top: 30px;
    left: 10px;
}

.circle {
    height:5px;
    width: 5px;
    position: relative;
    margin-left:5px;
    top: 7px;
    margin-right: 5px;;
    background-color: aquamarine;
    border-radius: 50%;
}